.root{
  overflow: hidden;
}
.wrapper{
  background-color:rgb(252, 246, 235);
}
*,*::after,*::before{
  box-sizing: content-box;
}
.close-button-test{
  justify-self: end;
}
.absoulute-one{
  position:fixed;
  background-color: white;
  z-index: 100;
  left:50%;
  top:50%;
 border-radius: 5px;
 transform: translate(-50%,-50%);
 box-shadow: 3px 3px 19px 1px rgb(141, 141, 141);
}
.login-class{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: grid;
  text-align: center;
}
.login-class .sign-up-logo{
 font-weight: 700;
  font-size: 22px;
  font-style: oblique;
  text-decoration: underline;
  cursor:default;  
}
.login-class input{
  border-radius:5px ;
  border: 1px solid #ced4da;
  padding: 0px 0 0 6px;
  width:210px;
  margin:0px 5px 10px 4px;
}
.login-class input:hover {
  border-color: rgb(119, 239, 255);
}
.signup-class{
  display: grid;
}
.rel-1{
  position: relative;
}
.signup-class .sign-up-logo{
 font-weight: 700;
 font-size: 28px;
 font-style: oblique;
 text-decoration: underline;
  cursor:default;
  justify-self: center;
}
.signup-class .signup-button{
  border:1.5px solid rgb(255, 255, 255);
  border-radius: 5px;
  padding:6px 15px;
  color: white;
  background-color: rgb(0, 126, 0);

}
.signup-class p{
  margin-bottom: 10px;
}
.signup-class input{
  border-radius:5px ;
  border: 1px solid #ced4da;
  padding: 1px 3px 1px 6px;
  width:100%;
  margin:0px 5px 0 0;
}
.signup-class input:hover {
  border-color: rgb(119, 239, 255);
}
.signup-class input:focus{
  outline-color:rgb(119, 239, 255) ;
}
.signup-helptext{
  list-style-type: none;
  margin-bottom: 0.54rem;
  margin-top: 0;
}
.signup-helptext li{
    font-size: 14px;
    font-weight: 600;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.2;
}
.select-form select{
  width: 100%;
  margin-bottom: 10px;
}
.error-tag{
  margin-bottom:6.5px;
  font-size: smaller;
  color: rgb(255, 56, 56);
  font-weight: 650;
}
.create-icon{
  font-weight: 650;
  font-size: 22px;
  font-style: oblique;
   cursor:default;
  text-decoration: underline;
}
.absoulute-one span{
  font-weight: 600;
  font-style: oblique;
  margin-left:auto;
  margin-right:auto;
}

.login-class .signup-button{
    border:1.5px solid black;
    border-radius: 5px;
    color: white;
    background-color: #282c34;

}
@media(max-width: 600px){
  .ph-display-none{
      display: none !important;
  }
  .absoulute-one{
    width: 80%;
  }
  .rel-1{
    padding: 10px 10px 35px 22px;
  }
  
}
@media(min-width: 600px){
  .absoulute-one{
    width:37%;
  }
  .pc-display-none{
      display: none !important;
  }
  .rel-1{
    padding: 10px 15px 15px 24px;
  }
}
.move-around{
  position: absolute;
  left: 100%;
  bottom: 100%;
  transform: translate(-100%,100%);
  cursor: pointer;
}
.close-button{
  position: absolute;
  left: 95%;
  bottom:98%;
  transform:translate(-100%,100%);
  cursor: pointer;
}
.slidebar-menu-opened{
  background-color: #111;
  position: fixed;
  top:0;
  width:235px;
  padding-top: 40px;
  padding-bottom: 20px;
  overflow-x: hidden;
  z-index: 1;
  height: 100%;
}
.slidebar-menu-closed{
  width: 0;
  height: 0;
  overflow: hidden;
}
.slidebar-menu-opened p{
  color: #818181;
  padding: 10px 8px 5px 40px;
  transition: color 0.5 ease;
  cursor: pointer;
}
.slidebar-menu-opened p:hover{
    color:#fff
}
.trans-holder{
  transition: all 0.6s ease;
}
.slidebar-menu-opened .close-button2{
  position: absolute;
  left: 95%;
  bottom:98%;
  transform:translate(-100%,100%);
  cursor: pointer;
}
.slidebar-menu-closed .close-button2{
  display: none;
  overflow: hidden;
}
.footer{
 background-color: #1b1340;
 border-radius: 3px;
 font-family: Arial, Helvetica, sans-serif;
 color: #fff;

}
.about-us{
  margin-top: 15px;
  margin-bottom: 5px;
}
.about-us h1{
  text-decoration: underline;
}
.thank-you{
  color:rgb(255, 49, 49);
  font-style: italic;
}
.about-us p{
  color: rgb(104, 104, 104);
  font-size: medium;
  margin-bottom: 1px;
  padding-bottom: 1px;
}

.single-form textarea{
  width: 100%;
  border-radius:5px;
  border-color: #111;
  padding:10px 15px 10px 15px;
  margin:0 0 10px 0;
  overflow: hidden;
}
.single-form select:focus{
  outline-color: rgb(126, 206, 233);
}
.single-form textarea:focus{
  outline-width: 5px;
  outline-color: lightblue;
}
.single-form select{
  width: 100%;
  border-radius: 5px;
  margin-bottom:15px;
}
.submit-schedule{
  border:1.5px solid rgb(255, 255, 255);
  border-radius: 5px;
  padding:6px 15px;
  color: white;
  background-color: rgb(0, 126, 0);
}
.create-pop-up{
  padding:20px;
}
.Contact-Us{
  margin-top:15px;
  margin-bottom: 5px;
}
.Contact-Us h1{
  text-decoration: underline;
}
.Contact-Us ul{
  list-style:none;
  color: rgb(104, 104, 104);
}
.Contact-Us ul a{
  color: rgb(104, 104, 104);
}
.error-class{
  background-color:rgb(255, 151, 151);
  margin-bottom:5px;
}
.full-screen{
  height: 100vh;
  width:100vw;
  background-color: transparent;
  position: absolute;
  top:0;
  left:0;
}
.error-class p {
  margin:0;
  padding:0.8rem 2rem .8rem 2rem;
  border-radius: 10px;
  font-size:12px;
  font-weight: 800;
  color:rgb(189, 0, 0);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
